@use '../abstracts/' as a;

#features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-block: 8rem;

  @include a.breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include a.breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  // This helps each Feature Card align with one another better. Why though?!
  // grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1.5rem;
}

.feature__icon {
  grid-column: 1 / span 1;
  fill: a.$color-primary;
  height: 2rem;
  width: 2rem;
}

.feature__heading {
  grid-column: 2 / span 1;
  font-family: a.$font-family-heading;
  font-size: a.$text-sm;
  color: a.$color-text-gray-500;
}

.feature__text {
  grid-column: 2 / span 1;
  color: a.$color-text-gray-400;
  font-size: a.$text-sm;
}
