@use '../abstracts/' as a;

#features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @include a.breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include a.breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature {
  padding: 1rem;

  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: start;
  justify-items: start;
}

.feature__icon {
  fill: #c69963;
  width: 3rem;
  height: 3rem;
  grid-column: 1 / span 1;
}

.feature__heading {
  grid-column: 2 / span 1;
}

.feature__text {
  grid-column: 2 / span 1;
}
