@use 'sass:color';
@use '../abstracts/' as a;

#story-images {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-image: linear-gradient(
      color.scale(a.$color-primary, $alpha: -50%),
      color.scale(a.$color-primary, $alpha: -50%)
    ),
    url('../img/back.jpg');
  background-size: cover;

  // Need to push a child outside of this element
  position: relative;
}

#story-images img {
  // max-height: 20vh;
}

#story-images :nth-child(1) {
  grid-column: 1 / span 6;
  grid-row: 1 / span 8;

  @include a.breakpoint(md) {
    grid-column: 2 / span 5;
    grid-row: 2 / span 5;
  }
}

#story-images :nth-child(2) {
  grid-column: 5 / span 4;
  grid-row: 3 / span 4;
  z-index: 1;

  @include a.breakpoint(md) {
    grid-column: 5 / span 4;
    grid-row: 5 / span 4;

    // TODO: How do we span outside of container without transforming or position absolute:
    position: absolute;
    right: -2rem;
  }
}

#story-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: start;
  align-content: center;
  background-color: a.$color-text-gray-200;
  padding: 4rem clamp(2rem, 8vw, 10rem);
}

#story-content h2 {
  color: a.$color-text-gray-500;
  font-family: a.$font-family-heading;
  font-size: a.$text-xl;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
}

#story-content h3 {
  color: a.$color-primary;
  font-family: a.$font-family-heading;
  font-size: a.$text-sm;
  font-weight: 400;
  text-transform: uppercase;
}

#story-content p {
  color: a.$color-text-gray-400;
  margin-bottom: 3rem;
}
