#story-images {
  background-color: pink;
  background-image: url(/img/back.jpg);
  background-size: cover;
}

#story-images img {
  max-height: 20vh;
}

#story-content {
  background-color: #f9f7f6;
}
