#story-images {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  background-color: pink;
  background-image: url(/img/back.jpg);
  background-size: cover;

  // Need to push a child outside of this element
  position: relative;
}

#story-images img {
  // max-height: 20vh;
}

#story-images :nth-child(1) {
  grid-column: 2 / span 5;
  grid-row: 2 / span 5;
}

#story-images :nth-child(2) {
  grid-column: 5 / span 4;
  grid-row: 5 / span 4;
  z-index: 1;

  // TODO: How do we span outside of container without transforming or position absolute:
  position: absolute;
  right: -2rem;
}

#story-content {
  // TODO: Ooops! This section is in the second column of the overall Grid container...
  // But it needs half the page width! The 2nd colulmn, as-is, is necessary only to display the realtor section, which only
  // requires a tiny width of space. I'll have to go back to the drawing board on the overall Grid container
  // For now, give this some padding to at least space its content away from the column to the left of it
  padding-left: 3rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  gap: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: left;
  background-color: #f9f7f6;
}

#story-content h3 {
  text-transform: uppercase;
  color: #c69963;
}
